.box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 420px;
  background: none;
}

.stripe{
  position: absolute;
  top: 0%;
  height: 100%;
}