.box{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 800px;
  height: 420px;
  background: none;
}

.stripe{
  position: absolute;
  top: 0%;
  height: 100%;
  margin: none;
  padding: none;
 }